body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.image-container {
    text-align: center; /* Center text inside the div */
}

.responsive-image {
    max-width: 800px; /* Limit the image width to 800px */
    width: 100%; /* Make the image responsive */
    height: auto; /* Maintain aspect ratio */
}

canvas {
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
