body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#image-container {
    width: 500px;
    height: 500px;
    position: relative;
    overflow: hidden;
}

.image-section {
    position: absolute;
    transition: opacity 1s ease-in-out;
}
